<h1>書籍登録の編集</h1>
<div>
  <div>
    <div>
      <div>
        <p>書籍名</p>
        <input value="<%=@book.title%>">
        <p>著者名</p>
        <input value="<%=@book.author%>">
        <p>ラベル</p>
        <input  value="<%=@book.label%>">
        <input type="submit" value="保存">
      </div>
    </div>
  </div>
</div>